<div class="title">
  <header class="body">
    <div class="logotip_scloud"></div>
    <button class="button">Личный кабинет</button>
    <div class="phone">8 800 555-91-15</div>
    <ul id="menu">
      <li class="select">Тарифы</li>
      <li>подключение</li>
      <li>Партнёрская программа</li>
      <li>FAQ</li>
      <li>О компании</li>
      <li>контакты</li>
      <li>биржа</li>
      <li>бухгалтерских услуг</li>
    </ul>

  </header>

</div>
<div class="content">


</div>
<div>

</div>
<footer></footer>
