<div class="title">
  <header class="body">
    <div class="logotip_scloud"></div>
    <button class="button">Личный кабинет</button>
    <div class="phone">8 800 555-91-15</div>
    <ul id="menu">
      <li class="select">Тарифы</li>
      <li>подключение</li>
      <li>Партнёрская программа</li>
      <li>FAQ</li>
      <li>О компании</li>
      <li>контакты</li>
      <li>биржа</li>
      <li>бухгалтерских услуг</li>
    </ul>

  </header>

</div>
<div class="content">
    <div class="body">
        <div id="block-1">
            <div id="text">
                <span id="first-line">Сравните и выберите подходящий тариф</span>
                <span id="second-line">Взять 1С в аренду, проще и надежнее и дешевле, чем купить. Цена 1С в аренду по карману <br>
любой компании. Вы получаете круглосуточный доступ в 1С с финансовыми гарантиями.</span>

            </div>
            <div id="circle">
                <div id="title">
                    Начать работу
                </div>
                <div id="comment">
                    14 дней в подарок
                </div>

            </div>

        </div>
        <div id="block-2" class="rounded-corners">
            <div class="column" id="column-1">
                <div id="slider" class="rounded-corners">


                </div>
                <div class="grey-box">
                   <!-- <i class="ionicons ion-android-checkmark-circle"></i>-->
                    <!--<i class="ionicons ion-ios-close-outline"></i>-->

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>
                <div class="grey-box">

                </div>

            </div>
            <div class="column">
                <div class="coll-header"></div>
                <div id="gray-background" class="call-data rounded-corners">
                    <div class="head">

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">

                    </div>



                </div>


            </div>
            <div class="column">
                <div class="coll-header"></div>
                <div  class="call-data">
                    <div class="head">

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">

                    </div>

                </div>

            </div>

        </div>
        <div id="block-3">

        </div>
    </div>
</div>
<div>

</div>
<footer></footer>
