<div class="title">
    <header class="body">
        <div class="logotip_scloud"></div>
        <button class="button">Личный кабинет</button>
        <div class="phone">8 800 555-91-15</div>
        <ul class="menu">
            <li class="select">Тарифы</li>
            <li>подключение</li>
            <li>Партнёрская программа</li>
            <li>FAQ</li>
            <li>О компании</li>
            <li>контакты</li>
            <li>биржа</li>
            <li>бухгалтерских услуг</li>
        </ul>

    </header>

</div>
<div class="content">
    <div class="body">
        <div id="block-1">
            <div id="text">
                <span id="first-line">Сравните и выберите подходящий тариф</span>
                <span id="second-line">Взять 1С в аренду, проще и надежнее и дешевле, чем купить. Цена 1С в аренду по карману <br>
любой компании. Вы получаете круглосуточный доступ в 1С с финансовыми гарантиями.</span>

            </div>
            <div id="circle">
                <div id="title">
                    Начать работу
                </div>
                <div id="comment">
                    14 дней в подарок
                </div>

            </div>

        </div>
        <div id="block-2" class="rounded-corners">
            <div class="column" id="column-1">
                <div id="slider" class="rounded-corners">
                    <div id="counter">
                        <span>Пользователи: </span><button>-</button><input type="number"><button>+</button>

                    </div>
                    <div id="label">
                        Цена за:
                    </div>
                    <div id="range-container">
                        <datalist>
                            <option>&nbsp;&nbsp;&nbsp;1</option>
                            <option>&nbsp;&nbsp;3</option>
                            <option>&nbsp;6&nbsp;</option>
                            <option>12&nbsp;&nbsp;</option>
                        </datalist>
                        <input type="range" min="0" max="15" value=5 id="fader" step="5" list="volsettings">
                        <datalist id="volsettings">
                            <option>&nbsp;&nbsp;0%</option>
                            <option>&nbsp;5%</option>
                            <option>10%</option>
                            <option>15%</option>
                        </datalist>
                    </div>
                    <div id="range-labels">
                        <div>месяц</div>
                        <div>скидка</div>
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">1С: Бухгалтерия ПРОФ</span> Россия / Украина / Казахстан
                    </div>
                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">1С: Управление торговлей ПРОФ</span><br>Россия / Украина / Казахстан
                    </div>
                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">1С: Зарплата и Управление Персоналом ПРОФ</span>
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">1С: Розница</span>
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">1С: Управление небольшой фирмой</span>
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">1С: Комплексная автоматизация</span>
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text"></span>Доступ к конфигуратору через удаленный стол
                    </div>
                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text"></span>Доступ через браузер
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">Возможность подключения 1С отчетность</span>
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text">Возможность подключить дополнительные опции</span>
                    </div>

                </div>
                <div class="grey-box">
                    <div class="v-midle">
                        <span class="green-text"></span>Свободное место на жестком диске на 1 пользователя
                    </div>

                </div>
                <div class="footer-column">
                    <span class="green-text">Вернуться назад</span>

                </div>

            </div>
            <div class="column" id="column-2">
                <div class="coll-header">
                    <i class="ionicons ion-android-checkmark-circle"></i><span>Можно изменять и дорабатывать 1С</span>
                </div>
                <div id="gray-background" class="call-data rounded-corners">
                    <div class="head">
                        <div class="name">Расширенный</div>
                        <div class="line"></div>
                        <div class="subtitle">Полный пакет конфигураций<br>
                            для малого и среднего бизнеса
                        </div>
                        <div class="price">
                            <span>1199</span><span class="ruble">&#8399;</span>
                        </div>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box">
                        <span class="size"> 4 ГБ </span>
                    </div>
                    <div id="start-use" class="rounded-corners">
                        Начать пользоваться
                    </div>
                </div>

            </div>
            <div class="column" id="column-3">
                <div class="coll-header">
                    <i class="ionicons ion-ios-close-outline"></i><span>Нельзя доработать</span>
                </div>
                <div class="call-data">
                    <div class="head">
                        <div class="name">Вэб</div>
                        <div class="line"></div>
                        <div class="subtitle">Для начинающего бизнеса,<br>
                            если минимум задач по учету
                        </div>
                        <div class="price">
                            <span>700</span><span class="ruble">&#8399;</span>
                        </div>
                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-android-checkmark-circle"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <i class="ionicons ion-ios-close-outline"></i>

                    </div>

                    <div class="dark-grey-box-3">
                        <span class="size"> 3 ГБ </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-3">
            <span class="footnote">14 дней использования на любом тарифе бесплатно</span>
            <table id="configs">
                <tr>
                    <th colspan="3">Конфигурации</th>
                </tr>
                <tr>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">1С:Автосервис</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">1С:Предприятие 8. Управление торговлей</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">Учёт в микрофинансовых организациях 8</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">1С:Автосервис</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">1С:Предприятие 8. Управление торговлей</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">Учёт в микрофинансовых организациях 8</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                </tr>
            </table>
            <table id="options">
                <tr>
                    <th colspan="3">Дополнительные опции</th>
                </tr>
                <tr>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">1С:Автосервис</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">1С:Предприятие 8. Управление торговлей</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                    <td>
                        <div class="conf-box rounded-corners">
                            <span class="conf-title">Учёт в микрофинансовых организациях 8</span><br>
                            <span class="price">240</span>
                            <span class="ruble">&#8399;</span>
                            <span class="period">/ мес.</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="block-4">
            <ul class="menu">
                <li class="select">Тарифы</li>
                <li>подключение</li>
                <li>Партнёрская программа</li>
                <li>FAQ</li>
                <li>О компании</li>
                <li>контакты</li>
                <li>биржа</li>
                <li>бухгалтерских услуг</li>
            </ul>
            <table>
                <tr>
                    <td>
                        <span>© 2011-2015 ServiceCloud</span><br>
                        <span>г. Москва, пр-т Вернадского, д. 29</span><br>
                        <span id="down-phone">8 800 555-91-15</span>
                    </td>
                    <td>
                        <span class="fa-stack fa-lg link">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-lg link">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-lg link">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </td>
                    <td>
                        <span>Онлайн чат предоставлен</span>
                        <span class="green-text-footer">Cleversite</span><br>
                        <span class="green-number">1/8</span>
                        <span>- Разработка сайта</span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<div>

</div>
<footer></footer>
