@import "../colors";

$base: '../assets/';
@import "../fonts";
@import "../scss/ionicons";
@import "../scss/awesome/font-awesome";

$height-title: 148px;
$width-body: 1172px;

$button-height: 34px;
.body {
    width: $width-body;
    margin: 0 auto;
    font-family: PTSans;
}

.rounded-corners {
    border-radius: 25px;
}

.title {
    max-width: 2033px;
    min-width: $width-body;
    height: $height-title;
    background-color: $white-three;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.11);
    .body {
        height: $height-title;
        .logotip_scloud {
            position: relative;
            float: left;
            left: 1px;
            top: 44px;
            width: 127px;
            height: 80px;
            background: url("../assets/images/logotip_scloud.png");
        }
        .button {
            position: relative;
            float: right;
            right: 2px;
            top: 48px;
            width: 175px;
            height: $button-height;
            border: none;
            border-radius: 17px;
            background-color: $sickly-green;
            color: $white-two;
            font-family: PTSans;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            cursor: pointer;
        }
        .phone {
            position: relative;
            float: right;
            top: 54px;
            width: 177px;
            height: 24px;
            font-family: PTSans;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 24px;
            letter-spacing: normal;
            text-align: left;
            color: $greyish-brown;
            margin-right: 20px;
        }
        #menu {
            position: relative;
            top: 110px - $button-height;
            float: right;
            right: 7px;
            width: 987px;
            height: 17px;
            font-family: PTSans;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 17px;
            letter-spacing: normal;
            text-align: left;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                text-transform: uppercase;
                cursor: pointer;
            }
            display: flex;
            justify-content: space-between;

            color: $greyish-brown;
            .select {
                color: $pumpkin-orange-two;

            }

        }

    }
}

.content {
    width: 100%;
    #block-1 {
        height: 206px;

        #text {
            position: relative;
            float: left;
            left: 41px;
            height: inherit;
            width: 725px;

            $first-line-height: 29px;

            #first-line {
                position: relative;
                float: left;
                top: 59px;
                width: inherit;
                height: 29px;
                font-family: PTSans;
                font-size: $first-line-height;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 29px;
                letter-spacing: normal;
                text-align: left;
                color: $greyish-brown;
            }
            #second-line {
                position: relative;
                float: left;
                top: 116px - $first-line-height;
                width: inherit;
                height: 39px;
                font-family: PTSans;
                font-size: 18px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $greyish-brown;
            }

        }
        #circle {
            position: relative;
            float: right;
            right: 41px;
            top: 11px;
            cursor: pointer;

            border-radius: 50%;

            width: 178.8px;
            height: 178.8px;
            background-color: $pumpkin-orange;
            box-shadow: -3px 0px 5px 0 rgba(19, 20, 20, 0.3);
            border: solid 4px $pumpkin-orange;

            div {
                color: $white-two;
                text-align: center;
            }

            #title {
                margin: 44px auto 19px auto;
                text-transform: uppercase;
                letter-spacing: 5px;
                width: 124px;
                height: 59px;
                font-family: PTSans;
                font-size: 29px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.13;
                letter-spacing: normal;
            }
            #comment {
                margin: 0 auto;
                width: 125px;
                height: 14px;
                font-family: PTSans;
                font-size: 14px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 14px;
                letter-spacing: normal;
                text-align: center;
                color: $white-two;

            }

        }
    }
    #block-2 {
        height: 752px;
        width: $width-body - 82px;
        background-color: $white-two;
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.14);

        padding: 0 41px;
        display: flex;
        justify-content: space-between;
        .column {
            width: 354px;
        }
        $height-col-header: 55px;
        #column-1 > div {
            position: relative;
            top: $height-col-header;
        }
        #slider {
            width: 352px;
            height: 142px;

            background-color: $white-two;
            border: solid 2px $white-ten;
        }
        .grey-box {
            margin-top: 2px;
            width: 354px;
            height: 41px;
            background-color: $white-five;
            display: table;

        }
        .coll-header {
            width: inherit;
            height: $height-col-header;
            text-align: center;
            line-height: $height-col-header;
            span {
                font-family: PTSans;
                font-size: 13px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                letter-spacing: normal;
                color: $greyish-brown;
                vertical-align: 2px;
            }
        }
        .call-data {
            width: 350px;
            height: 686px;
        }
        #gray-background {

            background-color: $white-four;

        }

        .head {
            @extend #slider;
            background-color: transparent;
            border-color: transparent;
            div {
                position: relative;
                margin: 0 auto;
                witth: 314px;
                text-align: center;
            }

            .name {
                text-transform: uppercase;
                top: 8px;
                height: 19px;
                font-family: PTSans;
                font-size: 21px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.86;
                letter-spacing: normal;
                text-align: center;
                color: $greyish-brown;

            }
            .line {
                top: 10px + 8px ;
                width: 314.4px;
                height: 4px;
                background-color: $pumpkin-orange-three;

            }
            .subtitle {
                top: 18px + 10px + 8px;
                height: 32px;
                font-family: PTSans;
                font-size: 16px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 1.13;
                letter-spacing: normal;
                text-align: center;
                color: $greyish-brown;
            }
            .price {
                top: 18px + 18px + 10px + 8px;
                height: 23px;
                font-family: PTSans;
                font-size: 23px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.75;
                letter-spacing: normal;
                text-align: center;
                color: $greyish-brown;
                .ruble {
                    margin-left: 5px;
                    font-size: 13px;
                    font-weight: bold;
                }

            }
        }

        .ion-android-checkmark-circle::before {
            color: $snot-green;
        }
        .ion-ios-close-outline::before {
            color: $white-eight
        }
        #column-2 .coll-header {
            .ion-android-checkmark-circle::before {
               font-size: 20px;
                margin-right: 6px;
            }
        }

        #column-3 .coll-header {
            .ion-ios-close-outline::before {
               font-size: 20px;
                margin-right: 6px;
            }
        }


        #column-3 .line {
            background-color: $light-grey;
        }

        .dark-grey-box {
            text-align: center;
            line-height: 41px;
            font-size: 0px;
            margin: 2px auto 0 auto;
            width: 314px;
            height: 41px;
            background-color: $white-six;
            i {
                line-height: 41px;
                &::before {
                    line-height: 41px;
                    font-weight: bold;
                    font-size: 26px;
                }

            }
        }
        .dark-grey-box-3 {
            @extend .dark-grey-box;
            background-color: $white-five;
        }

    }
    #block-3 {
        height: 453px;
        padding: 0 41px;
    }
}

.v-midle {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;

}

.green-text {
    color: $leaf;
    text-decoration: underline;
    cursor: pointer;
}
#column-1 .footer-column {
    padding-top: 23px;
    font-size: 13px;
}

.size {
    font-family: PTSans;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    text-align: center;
    color: $greyish-brown;
    line-height: 41px;
}

#start-use {
    position: relative;
    margin: auto;
    margin-top: 13px;
    width: 185px;
    height: 16px;
    background-color: $pumpkin-orange-three;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: PTSans;
    font-size: 16px;
    line-height: 16px;
    padding: 11px 0;
    color: $white-two;
    cursor: pointer;
}

#block-3 {
    padding-top: 17px !important;

    .footnote {
    font-family: PTSans;
    font-size: 15px;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.07;
    text-align: left;
    color: $greyish-brown;

        &::before {
            content: '*';
            font-family: OpenSans;
            font-size: 24px;
            font-weight: 800;
            color: $pumpkin-orange-three;
        }
    }

    .conf-box {
        display: inline-block;
        width: 346px;
        height: 36px;
        background-color: $white-two;
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.14);
        text-align: center;
        padding: 17px 0;
        color: $greyish-brown;
        .conf-title {

            font-family: PTSans;
            font-size: 14px;
            line-height: 14px;
        }
        .price {
            font-family: PTSans;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
        }
        .ruble {
            font-weight: bold;
        }
        .period {
            height: 12px;
            font-family: PTSans;
            font-size: 12px;
            font-weight: normal
        }
    }

    table {
        width: 100%;
        th {
            font-size: 24px;
            font-weight: bold;
            color: $greyish-brown;
        }
        td {
            width: 33.33%;
            padding-top: 14px;
            text-align: center;
            &:first-child {
                text-align: left;

            }
            &:last-child {
                text-align: right;
            }
        }
    }
    table#configs {
        margin-top: 30px;
    }
    table#options {
        margin-top: 38px;
    }

}

.footer {
    width: 100%;
}
