$white: #f9f8f6;
$white-two: #ffffff;
$white-three: #fefefe;
$white-four: #f1f1f1;
$leaf: #669933;
$greyish-brown: #404040;
$black: #1a1a1a;
$pumpkin-orange: #f57c00;
$pumpkin-orange-two: #f78806;
$white-five: #fafafa;
$white-six: #e6e6e6;
$black-two: #000000;
$pumpkin-orange-three: #ff7c00;
$warm-grey: #737373;
$sickly-green: #82b319;
$brownish-grey: #666666;
$leaf-two: #699c30;
$pinkish-grey: #bdbdbd;
$white-seven: #d4d4d4;
$light-grey: #d6dbca;
$yellow-orange: #ffb700;
$leaf-three: #679a32;
$snot-green: #99cc00;
$pale-olive-green: #aece68;
$white-eight: #dbdbdb;
$white-nine: #f5f5f5;
$white-ten: #efefef;
