@font-face {
    font-family: PTSans;
    src: url("#{$base}fonts/PTSans/pt-sans.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("#{$base}fonts/OpenSans/open-sans.ttf");
}

@font-face {
    font-family: Awesome;
    src: url("#{$base}fonts/awesome/fontawesome-webfont.ttf");
}




